# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/codeStyles/codeStyleConfig.xml
/dbnavigator.xml
/dictionaries
/misc.xml
/modules.xml
/nasa-app.iml
/codeStyles/Project.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/watcherTasks.xml
